body {
  background-color: #000308;
  font-family: "Fira Sans Extra Condensed", sans-serif;
}

.content {
  max-width: 414px;
  width: 414px;
  height: 844px;
  position: relative;
  margin: auto;
  margin-top: 120px;
  overflow: hidden;
}

.preloader {
  height: inherit;
  width: inherit;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.preloader h1 {
  position: absolute;
  z-index: 3;
  color: #fff;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 600;
  overflow: hidden;
}
.preloader h1 span {
  display: block;
}
.preloader .solid-bg {
  position: absolute;
  top: 0;
  z-index: 2;
  height: inherit;
  width: inherit;
  background-color: #F44336;
}
.preloader .images {
  position: absolute;
  z-index: 1;
  height: inherit;
  width: inherit;
}
.preloader .images img {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.preloader .images img:nth-child(1) {
  z-index: 5;
}
.preloader .images img:nth-child(2) {
  z-index: 4;
}
.preloader .images img:nth-child(3) {
  z-index: 3;
}
.preloader .images img:nth-child(4) {
  z-index: 2;
}
.preloader .images img:nth-child(5) {
  z-index: 1;
}

.app {
  background-color: #15191e;
  color: #fff;
  height: inherit;
  width: inherit;
  position: absolute;
}
.app__header {
  padding: 40px 0;
}
.app__header .row {
  padding: 0 35px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__header .logo {
  display: block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
}
.app__header .hamburger {
  border: none;
  background: none;
  padding: 0;
  height: 35px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  overflow: hidden;
}
.app__header .hamburger .line {
  display: block;
  height: 2px;
  width: 100%;
  background-color: #fff;
}
.app__cta {
  width: inherit;
  padding: 40px 0;
  position: relative;
  padding-top: 140px;
}
.app__cta .row {
  padding: 0 35px;
  box-sizing: border-box;
}
.app__cta .col .title {
  text-transform: uppercase;
  font-size: 35px;
  line-height: 46px;
  margin-bottom: 26px;
}
.app__cta .col .btn-group {
  display: flex;
  align-items: center;
  gap: 12px;
}
.app__cta .col .btn-group .btn {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #2a313a;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app__cta .col .btn-group .btn.primary {
  background-color: #fff;
  width: 185px;
  height: 75px;
}
.app__cta .col .btn-group .btn.icon {
  background-color: #2a313a;
  color: #fff;
  width: 75px;
  height: 75px;
}
.app__cta .col .btn-group svg {
  height: 20px;
}
.app__footer {
  width: inherit;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}
.app__footer .row {
  padding: 0 35px;
  box-sizing: border-box;
}
.app__footer .row:last-child {
  padding: 0;
}
.app__footer hr {
  margin: 0;
  margin-bottom: 40px;
  opacity: 0.2;
}
.app__footer .slider {
  width: 600px;
  display: flex;
  gap: 25px;
  margin-bottom: 40px;
}
.app__footer .slider .item {
  max-width: 155px;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.5;
}
.app__footer .slider .item p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.app__footer .slider .item.active {
  opacity: 1;
}
.app__footer .slider.images {
  margin-bottom: 0;
  gap: 0;
}
.app__footer .slider.images .image {
  overflow: hidden;
  width: 130px;
  height: 130px;
}
.app__footer .slider.images .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.hide {
  opacity: 0;
}/*# sourceMappingURL=main.css.map */